h1{
    text-align: center;
    text-decoration: bold;
    font-size:60px;
}

header{
    
    background-color: burlywood;
}
h2{
    font-size: 100px;
    text-align: center;
}
div{
display: flex;
justify-content: center;
align-items: center;
gap: 30px
}

.subtitle {
    text-align: center;
    font-size: 16px;
    opacity: 0.7;
    margin-top: 1000px;
}




