h1{
    text-align: center;
    text-decoration: bold;
    font-size:60px;
}

header{
    
    background-color: burlywood;
}
h2{
    font-size: 100px;
    text-align: center;
}

img {
    width: 300px;
    max-width: 90%;
    height: auto;
    display: block;
    margin: 20px auto;
}


